#cont {
    padding: 25px;
    font-size: 24px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#list {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    min-width: 250px;
    width: max-content;
    height: max-content;
    max-height: 400px;
    background: rgba(0, 204, 255, 0.16);
    overflow: auto;
    text-align: left;
    cursor: default;
}
#cont input {
    width: 250px;
    height: 35px;
    font-size: 2rem;
}